<h1>Brouillons</h1>
<% if @drafts %>
    <% for draft in @drafts %>
    <div style="padding: 10px; border: 1px solid #ddd; margin: 10px; border-radius: 5px;">
        <div class="title">
        Title
        </div>
        <div class="title_user">
        <%= draft.title %>
        </div>
        <div class="content">
        Content
        </div>
        <div class="content_user">
        <%= draft.content %>
        <%= draft.published %>
        </div>
        <div style="padding: 20px"></div>
        <div class="username">
        Username
        </div>
        <div class="username_user">
        <%= draft.user.username %>
        </div>
        <div style="padding: 20px"></div>
        <div style="padding: 20px"></div>
        <%= link_to "Edit", edit_article_path(draft) %>
        <% if draft.user == @current_user %>
        <%= link_to "Delete", delete_article_path(draft), method: :delete %>
        <% end %>
    </div>
    <% end %>
<% end %>