<%= link_to "New article", new_article_path %>
<h1>Articles</h1>
<% if @articles %>
    <% for article in @articles %>
    <div style="padding: 10px; border: 1px solid #ddd; margin: 10px; border-radius: 5px;">
        <div class="title">
        Title
        </div>
        <div class="user_title">
        <%= article.title %>
        </div>
        <div class="content">
        Content
        </div>
        <div class="user_content">
        <%= article.content %>
        <%= article.published %>
        </div>
        <div style="padding: 20px"></div>
        <div class="username">
        Username
        </div>
        <div class="user_username">
        <%= article.user.username %>
        </div>
        <div style="padding: 20px"></div>
        <div style="padding: 20px"></div>
        <%= link_to "Edit", edit_article_path(article) %>
        <% if article.user == @current_user %>
        <%= link_to "Delete", delete_article_path(article), method: :delete %>
        <% end %>
    </div>
    <% end %>
<% end %>