<div class="title_user">
  <h1 style='text-align="center"'><%= @article.title %></h1>
</div>

<div style="padding: 10px; border: 1px solid #ddd; margin: 10px; border-radius: 5px;">
  <div class="content_user">
    <%= @article.content %>
  </div>
  <div style="padding: 20px"></div>
  <div class="username_user">
    <b>Auteur : </b><%= @article.user.username %>
  </div>
  <div style="padding: 10px"></div>
  <%= link_to "Modifier", edit_article_path(@article), class: 'text-primary' %>
  <%= link_to 'Back', articles_path %>
</div>

<% if @current_user %>
  <%= form_tag "/articles/#{@article.id}", method: "post" do %>

    <input type="hidden" name="article" value ="<%= @article.id %>"/>
    <input type="hidden" name="user" value ="<%= @current_user.id %>"/>
    <div class="form-group">
      <textarea name="content" id="" style="width: 100%;" cols="auto" row="auto" style="resize: none" placeholder="Entrez votre commentaire ici..."></textarea>
    </div>
    <input type="submit" value="Envoyez" class="btn btn-primary" />
  
  <% end %>
<% end %>


<h4 style='text-align="center"'>Commentaires</h4>
<% for comment in @article.comments %>
  <div style="padding: 10px; border: 1px solid #ddd; margin: 10px; border-radius: 5px;">
    <h5><%= comment.content %></h5>
    <%= comment.user.username %>
  </div>
<% end %>