<h1>Utilisateurs</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Pseudo</th>
      <th>Email</th>
      <th>Points</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.points %></td>
        <td><%= link_to 'Voir', user, class: 'text-success' %> &nbsp;
          <% if @current_user != nil && user.id == @current_user.id %>
            <%= link_to 'Modifier', edit_user_path(user), class: 'text-primary' %> &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
