<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikipedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      Bonjour <%= @current_user.username %>
      <%= link_to "Se déconnecter", '/sign_out', method: :delete %>
    <% else %>
      <%= link_to "Se connecter", '/sign_in', method: :get %>
    <% end %>
    <%= yield %>
  </body>
</html>
