<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikipedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <h4 class="navbar-brand">Rails Wikipédia</h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if @current_user %>
            <li class="nav-item"><%= link_to "Articles", '/articles', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Classement", '/topUsers', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Utilisateurs", '/users', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Mes brouillons", '/drafts', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Se déconnecter", '/sign_out', method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Articles", '/articles', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Classement", '/topUsers', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Utilisateurs", '/users', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Se connecter", '/sign_in', method: :get, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "S'inscrire", '/sign_up', method: :get, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container" style="padding-top: 20px;">

    <%= yield %>

    </div>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
